html, body {
  color: #062533;
  margin: 0 auto;
  padding: 0;
}

input {
display: inline;


}

.page {
  font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #062533;;
}

#container {
  background-color: #aa1925;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-bottom: 3px solid #062533;
}

#main_logo {
  position: relative;
  float: left;
  padding-left: 100px;
  padding-top: 20px;
}

#buttons {
  padding-right: 10px;
}

#bnb {
  font-size: 34px;
  float: right;
  padding-top: 8px;
  color: #062533;
}

#welcome {
  position: relative;
  float: right;
  padding-right: 210px;
  padding-top: 10px;
}

#new_space {
  /*position: relative;*/
  float: right;
  margin-right: 5px;
  padding-right: 200px;
}

#sign_out {
  /*position: relative;*/
  float: right;
  margin-right: 5px;
  /*padding-right: 100px;*/
}


input[type=submit] {
    background-color: #062533;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

#space_title {
  width: 700px;
  text-align: center;
  margin: auto;
  padding-top: 10px;

}
.spaces {
  width: 250px;
  text-align: left;
  margin: auto;
  padding-top: 10px;

}

.availability {
  width: 230px;
  text-align: left;
  margin: auto;
  text-align: center;
}

#spaces_new {
  width: 400px;
  text-align: left;
  margin: auto;
  padding-top: 50px;

}

#sign_up {
  width: 400px;
  text-align: left;
  margin: auto;
  padding-top: 80px;

}

#sign_in {
  width: 400px;
  text-align: left;
  margin: auto;
  padding-top: 70px;

}

label{
   display:inline-block;
   width:200px;
}
