<h1> List of your spaces </h1>
<ul id='spaces'>
   <% @spaces.each do |space| %>
  <li>  <%= space.name%> </li>
  <li> <%= space.description%> </li>
  -----------------------------------------------------------------------------
    <%end%>
 </ul>
