<form action='/spaces' method='post'>
<label for='Space Name'>
  Name:
  <input type='text' name='SpaceName' required>
</label><br>
<label for='Description'><br>
  Description:
    <textarea name="Description" style="width:400px;height:250px;" required></textarea>
</label>

 <input type='submit' value='Create'>
</form>
