<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% if current_user %>
      Welcome, <%= @current_user.first_name %>!
      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Sign out'>
      </form>

    <% else %>
    <form action="/users/new">
      <input type="submit" value="Sign up">
    </form>
    <form action="/sessions/new">
      <input type="submit" value="Sign in">
    </form>
    <% end %>
    <% if flash[:request] %>
    <%= flash[:request] %>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
    <ul id="errors">
      <% flash[:errors].each do |error| %>
      <li> <%= error %> </li>
      <% end %>
    </ul>
<% end %>


    <%= yield %>

  </body>
</html>
