<!DOCTYPE html>
<html class="page">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles/style.css" charset="utf-8">
  </head>
  <body>

    <div id="container">
      <div id="main_logo"><img src="http://assets.makersacademy.com/images/logo/ma-wordmark-white.png">
        <div id="bnb">BnB</div></div>
      <div id="main_buttons"><% if current_user %>
        Welcome, <%= @current_user.first_name %>!
        <form action='/sessions' method='post'>
          <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='Sign out'>
        </form>

      <% else %>
      <div id="buttons">
      <form action="/users/new"><input type="submit" class="main_buttons" value="Sign up"></form>
      <form action="/sessions/new"><input type="submit" class="main_buttons" value="Sign in"></form>
    </div>
      <% end %>
    </div>


    <% if flash[:errors] && !flash[:errors].empty? %>
    <ul id="errors">
      <% flash[:errors].each do |error| %>
      <li> <%= error %> </li>
      <% end %>
    </ul>
<% end %>


    <%= yield %>

  </body>
</html>
