<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="public/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="form">

          <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
          </ul>
              <form action="/" method="post">

              <div class="top-row">
                <div class="field-wrap">
                  <label>
                    First Name<span class="req">*</span>
                  </label>
                  <input type="text" required autocomplete="off" name="first_name" />
                </div>

                <div class="field-wrap">
                  <label>
                    Last Name<span class="req">*</span>
                  </label>
                  <input type="text"required autocomplete="off" name="last_name"/>
                </div>
              </div>

              <div class="field-wrap">
                <label>
                  Email Address<span class="req">*</span>
                </label>
                <input type="email"required autocomplete="off" name="email_address"/>
              </div>

              <div class="field-wrap">
                <label>
                  Set A Password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off" name="password"/>
              </div>

              <div class="field-wrap">
                <label>
                  Retype your password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off" name="password_confirmation"/>
              </div>

              <input type='submit' value='Submit'>

              </form>

            </div>
  </body>
</html>
