
<form id="sign_in" action='/sessions' method='post'> 
    <label id="email_address" for='email_address'>  Email: <input name='email_address' type='email' value='<%= @email %>'> 
    </label> 
    <label for='password'> Password: <input name='password' type='password'> 
    </label> 
    <input type='submit' value='Sign in'>
 </form>
